.home{
    margin:auto;
    width:50%;
    /*margin-top:250px;*/
    
    height: 90vh;
    color:white;
    /*position:relative;*/
}

.home .description{
    margin-top:30vh;
}

.home button{
    position:absolute;
    /*bottom:150px;*/
    margin-top:15vh;

    border: 1px solid white;
    color:white;
}

#downArrow{
    margin-bottom:-3px;
}
