.home{
    margin:auto;
    width:50%;
    /*margin-top:250px;*/
    
    height: 90vh;
    color:white;
    /*position:relative;*/
}

.home .description{
    margin-top:30vh;
    
}

.description{
    left:0;
    display:flex;
    flex-direction: column;
}

.home button{
    margin-top:10vh;
    border: 1px solid white;
    color:white;
}

#downArrow{
    margin-bottom:-3px;
}

.change-text{
    text-decoration: underline dotted white;
}

@media only screen and (max-width:320px){
    .home{
        width:100%;
        padding-top:50px;
        height: 100vh;
    }
    
    .description p{
        text-align: center;
    }

    button{
        margin-left:15%;
    }
}