.projects{
    margin:auto;
    width:100%;
    color:black;
    background-color: white;

    
    overflow: hidden;
    padding-bottom:10px;
    
}

.element img{
    width:100%;
    min-width:400px;
    max-width:500px;
    outline:1px solid#ddd;
    outline-offset:5px;
    border-radius:20px;
    place-self: center;
    margin-bottom:30px;
}

.element a{
    color:#ff87b5;
}

.project-cont{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(510px, 1fr));
}

.static{
    position:absolute;
}

.static:hover{
    opacity:0;
}

#bakery img{
    height:374px;
}
