.projects{
    margin-top:-100px;
    width:100%;
    color:rgb(0, 0, 0);
    background-color: #eeeeee;

    padding-bottom:100px;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.projects:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left top;
    transform: skewY(-3deg);
}

.projects p{
    text-align: center;
}

.element{
    font-size:20px;
    text-align: center;
}

.element img{
    border-radius:20px;
    transition:0.3s;
    margin-top:30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.element img:hover{
    transform:scale(1.05);
}

.projectTitle{
    font-weight: bold;
    margin-bottom:-10px;
}

.element a{
    color:#ff87b5;
    padding-right:15px;
    margin-left:15px;
    transition: 0.3s;
}

.element a:hover{
    color:#e73c7e;
}

.project-cont{
    width:80%;
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(515px, 1fr));
}

.element{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(515px, 1fr));
}

@media only screen and (min-width:600px){
    .project-cont{
        margin-left:10%;
    }

    .element img{
        min-width:300px;
        max-width:500px;
        height:374px;
    }
}

@media only screen and (max-width:600px){
    .project-cont{
        text-align: center;
    }
    .gif{
        display: none;
    }

    .element{
        display:inline;
    }

    .element img{
        position:static;
        width:80%;
        margin-left:5%;
    }

    .project-cont{
        display:inline;
    }
}